#banner img {
  width: 100%;
}

small {
  font-size: 13px;
}

button {
  cursor: pointer;
  border: none;
}

#banner {
  position: relative;
}

.overlay-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #0b070d 20%,
    #0b070d65 40%,
    #0b070d00 100%
  );
}

.info-banner {
  position: absolute;
  bottom: 0%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
}

#banner .info-banner img {
  width: 25%;
  border-radius: 20px;
}

.text-info-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.text-info-banner span {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  width: 100%;
}

.info-banner .text-info-banner p {
  margin: 0;
  font-size: 13px;
  text-align: center;
  transform: translateY(-5px);
  align-items: center;
}

.nav-item {
  flex-grow: 1;
}

.nav-item button {
  width: 100%;
  padding: 0;
  color: white !important;
  background: none !important;
  border: none !important;
  font-size: 12px;
  font-weight: bold;
}

.nav-link.active {
  border-bottom: 2px solid white !important;
}

.tab-content {
  padding: 0px 20px 20px 20px;
}

.personagens {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.avaliacao .personagens{
  border-bottom: 1px solid rgba(255, 255, 255, 0.459);
}

.personagens::-webkit-scrollbar {
  display: none;
}

.personagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.personagem img {
  width: 100px;
  height: 124px;
  object-fit: cover;
  border-radius: 20px;
}

.personagem span,
small {
  text-align: center;
}

.nomeAtor {
  font-size: 14px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.nomePersonagem {
  font-size: 13px;
  width: 100%;
}

p {
  text-align: justify;
  margin-bottom: 10px;
}

.avaliacao {
  background-color: #5f307544;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  box-sizing: border-box; 
  overflow-x: hidden;
}

.nota {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.459);
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.sentimento {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.459);
  margin-bottom: 10px;
}

.emoji {
  height: 70px;
  width: 70px; 
  background-color: azure;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px; 
  box-sizing: border-box; 
  text-align: center;
}

.fa-solid {
  color: #5f3075;
  font-size: 40px;
}

.box {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

.sentimento p {
  text-align: center;
}

.avaliacao span {
  margin-bottom: 5px;
}

h6 {
  margin-bottom: 20px;
  font-weight: bold;
}

.sectionAvaliacao {
  display: none;
}

.assistido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-assistido {
  width: 50px;
  height: 50px;
}

.comentar {
  background-color: #5f307544;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.comentario {
  background-color: #5f307544;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.topo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

.infoCom {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.fa-ellipsis-vertical {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 4.5vw;
}

.topo img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.star-review i {
  font-size: 20px !important; 
}

.comentario p {
  font-size: 15px;
}

.comentario p + img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 16px;
}

.interacoes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.likes {
  display: flex;
  flex-direction: row;
  margin: 0px;
  gap: 10px;
}

.likes p{
  font-size: 12px;
}

.comments p{
  font-size: 12px;
}

.comments {
  display: flex;
  flex-direction: row;
  margin: 0px;
  gap: 10px;
}

.bi-chat-left-text,
.bi-heart {
  color: white;
  font-size: 4.5vw;
  margin-top: -4px;
}

.interacoes p {
  margin: 0px;
}

.comentar {
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.comentar span {
  padding: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.459);
  color: rgba(255, 255, 255, 0.781);
  font-size: 13px;
  display: block;
}

.icones {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.gif-icon {
  font-size: 11px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;
  background-color: transparent;

  border: 3px solid #fff; 
  padding: 0px 2px;
  width: 27px;
  height: 25px;
  border-radius: 5px;
  margin-top: 7px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-image {
  font-size: 27px;
  margin-top: 5px;
}

.meuComentario {
  width: 100%;
}

.meuComentario span {
  width: 100%;
}
.comentar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.acoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.acoes button {
  background-image: url("../imgs/comentar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 40px;

  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 11px;
  margin-top: 10px;
  font-size: 13px;
}

.box p {
  margin-bottom: 10px;
}

.star-review i.avaliacaoPropria{
  font-size: 40px !important; 
  color: azure !important;
}


.avaliacao button {
  background-image: url("../imgs/comentar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 60px;

  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 20px;
  margin-top: 10px;
}

.desejaComentar{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}