 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }

 body {
     background: #0B070D;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }

 .wrapper {
     flex: 1;
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .content-area {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     background: #0B070D;
     margin-top: -45px;
     z-index: 1;
 }

 @media(min-height: 700px) {
     .content-area {
         justify-content: center;
     }
 }

 .top {
     background: #D9D9D9;
     padding: 30px 22px 48px;
     border-bottom-left-radius: 45px;
     z-index: 2;
 }

 .back {
     font-size: 1.7rem;
     cursor: pointer;
 }

 .title {
     margin-top: 50px;
     font-size: 2.2rem;
     font-weight: 700;
     line-height: 1.25;
     color: #111;
 }

 .subtitle {
     font-size: 1rem;
     margin-top: 10px;
     color: #444;
 }

 .content {
     padding: 30px;
     padding-bottom: 50px;
 }

 label {
     color: #D9D9D9;
     font-size: 1.05rem;
     margin-bottom: 8px;
     display: block;
     margin-top: 25px;
 }

 .input-wrapper {
     position: relative;
 }

 input {
     width: 100%;
     background: transparent;
     border: none;
     border-bottom: 2px solid #555;
     padding: 10px 0;
     color: #D9D9D9;
     font-size: 1.15rem;
     outline: none;
 }

 .eye {
     position: absolute;
     right: 0;
     top: 50%;
     transform: translateY(-50%);
     font-size: 1.4rem;
     color: #aaa;
     cursor: pointer;
 }

 .remember {
     display: flex;
     align-items: center;
     gap: 10px;
     margin-top: 22px;
 }

 input[type="checkbox"] {
     width: 18px;
     height: 18px;
     cursor: pointer;
 }

 .remember label {
     margin: 0;
     font-size: 1rem;
     color: #D9D9D9;
 }

 .btn {
     width: 100%;
     padding: 20px;
     margin-top: 40px;
     background: #D9D9D9;
     border: none;
     border-radius: 10px;
     font-size: 1.2rem;
     font-weight: 600;
     cursor: pointer;
 }

 .forgot {
     text-align: right;
     margin-top: 20px;
     font-size: 1rem;
     color: #aaa;
     cursor: pointer;
 }

 @media(min-width: 768px) {
     body {
         justify-content: center;
     }

     #aviso-portabilidade h1 {
         font-size: 2.5rem;

         color: #fff;
         margin-bottom: 15px;
     }

     .wrapper {
         max-width: 430px;
         margin: auto;
         border-radius: 25px;
         overflow: hidden;
     }

     .top {
         padding: 40px 40px 60px;
     }

     .content {
         padding: 40px;
     }
 }

 #aviso-portabilidade {
     display: none;
 }


 @media (min-width: 577px) {
     #aviso-portabilidade {
         display: flex;
         position: fixed;
         inset: 0;
         padding-top: 5rem;

         justify-content: center;
         align-items: center;
         flex-direction: column;
         text-align: center;

         background: #0B070D;
         color: #D9D9D9;

         z-index: 9999;
     }

     #aviso-portabilidade h1 {
         font-size: 2.3rem;
         margin-bottom: 12px;
         color: #fff;
     }

     #aviso-portabilidade span {
         font-size: 1.1rem;
         opacity: .8;
     }
 }