#banner img {
    width: 100%;

}

#banner {
    position: relative;
}

.overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0B070D 20%, #0b070d65 40%, #0b070d00 100%);
}

.info-banner {
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.25rem;
}

#banner .info-banner img {
    width: 25%;
    border-radius: 20px;
}


.text-info-banner span {
    font-size: 30px;
    font-weight: bold;
}

.info-banner .text-info-banner p {
    margin: 0;
    font-size: 13px;
    max-width: 85%;
    transform: translateY(-5px);
}

#more-profile {
    border: 1px solid white;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    flex-grow: 20;
}

header .dropdown-menu .dropdown-item {
    color: white;
}

header .dropdown-menu .dropdown-divider {
    background: white;
}

header .dropdown-menu {
    background-color: #0B070D;
    color: white !important;
}

.nav-item {
    flex-grow: 1;
}

.nav-item button {
    width: 100%;
    padding: 0;
    color: white !important;
    background: none !important;
    border: none !important;
    font-size: 12px;
    font-weight: bold;
}

.nav-link.active {
    border-bottom: 2px solid white !important;
}

.tab-content {
    padding: 1rem;
}

.tab-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

#select_filtro {
    background-color: #0B070D;
    color: white;
    flex-shrink: 1;
    width: fit-content;
    font-size: 15px;
    padding: .25rem 2.25rem .25rem .75rem;
    border: 1px solid #5F3075;
}

.badge {
    background-color: #5F3075;
}

.bi-star-fill {
    color: #BA3CF4 !important;
}

/*Filme favorito-------------------*/
.favorito-container {
    display: flex;
    gap: 1.5rem;
}

.favorito-container a,
.favorito-container img {
    width: 100%;
    height: 100%
}

.favorito-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.favorito-info h6 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .1rem;
}

.favorito-info p {
    font-size: 0.85rem;
    max-height: 4rem;
    overflow: hidden;
    text-align: justify;
    font-weight: light;
    margin-bottom: .5rem;
}

.favoritos-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.favoritos-data .badge i {
    margin-right: .4rem;
    font-size: 1rem;
}

.favoritos-data .badge {
    display: flex;
    align-items: center;
    padding-right: .8rem;
    padding-left: .5rem;
    font-weight: 400;
}

/*Filmes em destaque----------------*/
#section-destaque img {
    width: 100%;
    border-radius: 15px;
    margin-top: .25rem;
}

#section-destaque a{
    color: white;
    text-decoration: none;
}

.destaques-titulo-filme {
    font-size: .75rem;
    text-align: center;
    margin-top: .75rem;
}

/*Lista de favoritos----------------*/
.posicao-lista {
    display: flex;
    align-items: center;
    font-size: 8rem;
    font-weight: bold;
    color: #C89BDC;
    position: absolute;
    top: 2%;
    left: -2%;
    height: 100%;
    z-index: -5;
}

#section-lista li:nth-of-type(1) .posicao-lista {
    color: #BA3CF4 !important;
}

#section-lista li:nth-of-type(2) .posicao-lista {
    color: #BC5BE6 !important;
}

#section-lista li:nth-of-type(3) .posicao-lista {
    color: #BD71DF !important;
}

.list-card {
    width: 90%;
    background-color: rgb(186, 60, 244, 10%);
    display: flex;
    gap: 1rem;
    padding: .5rem;
    border-radius: 12px;
    text-decoration: none;
}

.list-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.list-card img {
    width: 25%;
    height: 100%;
    border-radius: 12px;
}

.list-card-header {
    padding-top: .5rem;
}

.filme-lista-nome {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.list-card hr {
    color: #BA3CF4;
    margin: .35rem 0 .25rem 0;
}

.tags-filme {
    display: flex;
    gap: .25rem;
    width: 100%;
    flex-wrap: wrap;
}

.tags-filme span {
    font-size: 12px;
    font-weight: 400;
}

.lower-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.list-card-data {
    display: flex;
    flex-direction: column;
    font-size: .6rem;
}

.list-card-data span {
    display: flex;
    align-items: center;
}

.list-card-data i {
    font-size: .8rem !important;
    margin-right: .3rem;
}

#section-lista ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

#section-lista li {
    height: 200px;
    display: flex;
    justify-content: end;
    height: fit-content;
    position: relative;
}

@media (min-width: 450px) {
    .list-card {
        width: 94.2%;
    }
}

/*Estatisticas-----------------------------------------------------*/

/*Seção dados--------------------------*/
/*Horas-----------*/
#section-dados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.horas>div,
.notas>div {
    background-color: #271D2C;
    border-radius: 15px;
    text-align: center;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    font-size: .75rem;
}

.horas,
.notas {
    display: flex;
    gap: 1rem;
}

.hora {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    transform: translateY(-5px);
}

.horas-numero {
    font-size: 2rem;
    color: #BA3CF4;
    transform: translateY(5px);
}

.medidas {
    display: flex;
    font-weight: 300;
    transform: translateY(-5px);
}

.medida {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.medidas .valor {
    display: inline-block;
    transform: translateY(5px);
    color: #BA3CF4;
    font-size: 1rem;
    font-weight: bold;
}

/*Notas-----------*/
.notas>div {
    padding: .75rem .5rem;
}

.notas-titulo {
    font-size: 1rem;
}

.media {
    display: flex;
    flex-direction: column;
}

.media span {
    font-size: .65rem;
    font-weight: 300;
}

.notas .media:nth-child(3) .star-review .bi {
    color: yellow !important
}

@media (min-width: 400px) {
    .media span {
        font-size: .75rem;
    }

    .notas .star-review {
        font-size: 1rem;
    }
}

#preferencias-chart {
    transform: translateY(-20px);
}

.apexcharts-legend {
    justify-content: center !important;
}

#section-contribuicoes {
    transform: translateY(-50px);
}

#preferencias-chart .apexcharts-yaxis * {
    fill: rgb(240, 240, 240);
}