#banner img {
  width: 100%;
}

small {
  font-size: 13px;
}

button {
  cursor: pointer;
  border: none;
}

#banner {
  position: relative;
}

.overlay-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #0b070d 20%,
    #0b070d65 40%,
    #0b070d00 100%
  );
}

.info-banner {
  position: absolute;
  bottom: 0%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
}

#banner .info-banner img {
  width: 25%;
  border-radius: 20px;
}

.text-info-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.text-info-banner span {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  width: 100%;
}

.info-banner .text-info-banner p {
  margin: 0;
  font-size: 13px;
  text-align: center;
  transform: translateY(-5px);
  align-items: center;
}

.nav-item {
  flex-grow: 1;
}

.nav-item button {
  width: 100%;
  padding: 0;
  color: white !important;
  background: none !important;
  border: none !important;
  font-size: 12px;
  font-weight: bold;
}

.nav-link.active {
  border-bottom: 2px solid white !important;
}

.tab-content {
  padding: 20px;
}

.titulo-avaliacao {
  margin: 0px;
  margin-right: 10px;
}
.avaliacoes {
  margin: 0px;
}

p {
  text-align: justify;
}

h6 {
  font-weight: bold;
}

.btn {
  background-color: #ba3cf4;
  border-radius: 20px;
  height: 40px;
  padding: 5px;
  color: white;
}

.inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addLista {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotten-imdb {
  display: flex;
}

.botao-genero {
  width: 150px;
  height: 40px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      /* camada preta transparente */ rgba(0, 0, 0, 0.6)
    ),
    var(--img);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.generos {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.plataformas {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 16px;
  justify-content: space-between;
}

.plataforma {
  width: 70px;
  height: 70px;
  object-fit: cover; /* NÃO distorce, corta mantendo proporção */
  object-position: center;
  border-radius: 20px;
}

.plataformas::-webkit-scrollbar {
  display: none;
}

.elenco {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ator img {
  width: 100px;
  height: 124px;
  object-fit: cover;
  border-radius: 20px;
}

.ator span,
small {
  display: block;
}

.ator {
  text-align: center;
}

.nomeAtor {
  font-size: 14px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.nomePersonagem {
  font-size: 13px;
  width: 100%;
}

.review {
  background-color: #5f307544;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.review img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.review p {
  font-size: 15px;
  margin: 0px;
}

.topo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

.escrita {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.fa-ellipsis-vertical {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4.5vw;
}

#reviews {
  align-items: left;
  justify-content: left;
}

.temporada {
  margin-bottom: 20px;
}

.imgTemporada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--img);
  height: 150px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.temporada img {
  height: 40px;
  align-items: end;
  position: absolute;
  top: 0.5px;
  right: 0.5px;
}

.detalhesTemp {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 0.5px;
  left: 0.5px;
}

.temporada p {
  position: absolute;
  bottom: 0.5px;
  right: 5px;
  margin: 0px;
}

.temporada,
.imgTemporada,
.detalhesTemp {
  z-index: 1;
}

.episodios {
  background-color: #75303644;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  display: none;
}

#tab-episodios .episodio {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 12px !important;
  position: relative !important;
  padding: 10px;
  border-radius: 20px;
  gap: 10px;
  background-color: #c99bdc36;
  margin-bottom: 10px;
}

#tab-episodios .episodio > .imgEp {
  width: 60px !important;
  height: 60px !important;
  object-fit: cover !important;
  border-radius: 10px !important;

  float: none !important;
  position: static !important;
  margin: 0 12px 0 0 !important;
  order: 0 !important;
  flex-shrink: 0 !important;
  align-self: center !important;
}

#tab-episodios .episodio > .info {
  flex: 1 1 auto !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  border: none;
}

#tab-episodios .episodio > .done {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  width: 40px !important;
  height: 40px !important;
  object-fit: contain !important;
}

.titulo {
  font-weight: bold;
}

.fa-ellipsis-vertical {
  justify-content: end;
  text-align: end;
}

@media (max-width: 387px) {
  .info span {
    max-width: 80%;
  }
}

@media (max-width: 426px) {
  .btn {
    background-color: #ba3cf4;
    border-radius: 20px;
    height: 40px;
    padding: 5px;
    color: white;
    margin: 15px;
  }

  .inicio {
    display: flex;
    flex-direction: column;
  }

  .star-review {
    justify-content: flex-start !important;
    text-align: left !important;
  }

  .avaliacoes h6 {
    text-align: left !important;
  }
}
