#banner img {
    width: 100%;

}

small{
    font-size: 13px;
}

button{
    cursor: pointer;
    border: none;
}

#banner {
    position: relative;
}

.overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0B070D 20%, #0b070d65 40%, #0b070d00 100%);
}

.info-banner {
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1.25rem;
}

#banner .info-banner img {
    width: 25%;
    border-radius: 20px;
}

.text-info-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: center;
}


.text-info-banner span {
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    width: 100%;
}

.info-banner .text-info-banner p {
    margin: 0;
    font-size: 13px;
    text-align: center;
    transform: translateY(-5px);
    align-items: center;
}

.nav-item {
    flex-grow: 1;
}

.nav-item button {
    width: 100%;
    padding: 0;
    color: white !important;
    background: none !important;
    border: none !important;
    font-size: 12px;
    font-weight: bold;
}

.nav-link.active {
    border-bottom: 2px solid white !important;
}

.content{
    padding:20px;
}

.titulo-avaliacao{
    margin: 0px;
    margin-right: 10px;
}
.avaliacoes{
    margin: 0px;
}

P{
    text-align: justify;
}

h6{
    font-weight: bold;
}

.button{
    background-color: #BA3CF4;
    border-radius: 20px;
    height: 40px;
}

.inicio{
    display: flex;
    flex-direction: row;
}

.addLista{
    align-items: center;
    justify-content: center;
}

.rotten-imdb{
    display: flex;
}

.botao-genero{
    width: 150px;
    height: 40px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),   /* camada preta transparente */
        rgba(0, 0, 0, 0.6)
    ),
    var(--img); 
    background-size: cover;
    background-position: center;
    border-radius: 20px;  
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.generos{
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.plataformas{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.plataforma{
    width: 70px;
    height: 70px;
    object-fit: cover; /* NÃO distorce, corta mantendo proporção */
    object-position: center;
    border-radius: 20px;
}


.plataformas::-webkit-scrollbar {
    display: none;
}

.elenco{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.elencos::-webkit-scrollbar {
    display: none;
}

.ator img{
    width: 70px;
    height: 94px;
    object-fit: cover;
    border-radius: 20px;
}

.nomeAtor{
    font-size: 15px;
    text-align: center;
    width: 100%;
}

.nomePersonagem{
    font-size: 13px;
    width: 100%
}

.review{
    background-color: #5f307544;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.review img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.review p{
    font-size: 15px;
    margin: 0px;
}

.topo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.escrita{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#reviews{
    align-items: right;
    justify-content: end;
}




