header{
    padding: 1rem;
}

body {
    margin: 0;
    background: #0B070D;
    font-family: Arial, sans-serif;
}
/* -------------------- HAMBURGUER -------------------- */

.open-btn {
    z-index: 300;
    border: none;
    background: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.sidebar .open-btn {
    position: fixed; 
    top: 20px;
    left: 20px;
}

.sidebar.active .open-btn {
    position: absolute; 
    right: 10px;
    left: auto; 
}

/* -------------------- OVERLAY -------------------- */

.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 150;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* -------------------- SIDEBAR -------------------- */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 100dvh;
    background: #222222;
    padding: 35px 25px;
    transform: translateX(-100%); 
    transition: 0.35s ease;
    z-index: 200;
    display: flex;
    flex-direction: column;
}

.sidebar.active {
    transform: translateX(0);
}

/* -------------------- LOGO -------------------- */

.logo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.cine { color: #ffffff; }

.diary { 
    color: #b04dff; 
    margin-left: 22px;
    margin-top: -7px; 

}

/* -------------------- MENU -------------------- */

.menu a,
.bottom-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 10px; 
    margin: 5px 0;
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease; 
    border-radius: 5px; 
}

.menu a i,
.bottom-menu a i {
    font-size: 16px;
    color: white;
    transition: color 0.2s ease;
}

/* -------------------- HOVER -------------------- */

.menu a:hover,
.bottom-menu a:hover {
    background-color: rgba(176, 77, 255, 0.15); 
    transform: translateX(3px); 
}

.menu a:hover i,
.bottom-menu a:hover i {
    color: #b04dff; 
}

.bottom-menu {
    margin-top: auto;
    padding-bottom: 20px;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
}
