*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0B070D;
}

header .bi-list{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

header{
    padding: 1rem;
}

@media (min-width: 576px){
    body *{
        display: none;
    }
}