@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    /*font-family: Inter;*/
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0B070D;
    font-family: Arial, sans-serif;
}

header {
    padding: 1rem;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 576px) {
    body * {
        display: none;
    }

    body #aviso-portabilidade,
    body #aviso-portabilidade * {
        display: block !important;
        color: white;
        text-align: center;
    }
}

#aviso-portabilidade {
    padding-top: 5rem;
    display: none;
}

/* -------------------- HAMBURGUER -------------------- */

.open-btn {
    height: 37px;
    z-index: 300;
    border: none;
    background: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.sidebar .open-btn {
    position: fixed;
    top: 20px;
    left: 20px;
}

.sidebar.active .open-btn {
    position: absolute;
    right: 10px;
    left: auto;
}


/* -------------------- OVERLAY -------------------- */

.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 150;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* -------------------- SIDEBAR -------------------- */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 100dvh;
    background: #222222;
    padding: 35px 25px;
    transform: translateX(-100%);
    transition: 0.35s ease;
    z-index: 200;
    display: flex;
    flex-direction: column;
}

.sidebar.active {
    transform: translateX(0);
}

/* -------------------- LOGO -------------------- */

.logo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.cine {
    color: #ffffff;
}

.diary {
    color: #b04dff;
    margin-left: 22px;
    margin-top: -7px;

}

/* -------------------- MENU -------------------- */

.menu a,
.bottom-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 10px;
    margin: 5px 0;
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
    border-radius: 5px;
}

.menu a i,
.bottom-menu a i {
    font-size: 16px;
    color: white;
    transition: color 0.2s ease;
}

/* -------------------- HOVER -------------------- */

.menu a:hover,
.bottom-menu a:hover {
    background-color: rgba(176, 77, 255, 0.15);
    transform: translateX(3px);
}

.menu a:hover i,
.bottom-menu a:hover i {
    color: #b04dff;
}

.bottom-menu {
    margin-top: auto;
    padding-bottom: 20px;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* -------------------- START REVIEW -------------------- */
.star-review{
    display: flex;
    gap: .3rem;
    justify-content: center;
    align-items: center;
}

.bi-star-fill{
    color: #FBE40E;
    font-size: .9em;
}

.bi-star-fill.no-star{
    color: #AFAEA7 !important
}

@media (max-width: 384px){
    .bi-star-fill{
        font-size: .75rem !important;
    }
}
