<!DOCTYPE html> 
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-+..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/episodio.css" />
  <title>CineDiary</title>
</head>

<body>
  <header>
    <button class="open-btn" onclick="toggleMenu()">
      <i class="ph ph-list"></i>
    </button>
  </header>

  <aside id="sidebar" class="sidebar">
    <button class="open-btn" onclick="toggleMenu()">
      <i class="ph ph-list"></i>
    </button>

    <div class="top">
      <div class="logo">
        <span class="cine">CINE</span><span class="diary">DIARY</span>
      </div>

      <nav class="menu">
        <a href="index.html"><i class="bi bi-house"></i>Home</a>
        <a href="reviews.html"><i class="bi bi-star"></i>Reviews</a>
        <a href="#"><i class="bi bi-search"></i>Pesquisar</a>
        <a href="perfil.html"><i class="ph ph-user"></i>Perfil</a>
      </nav>
    </div>

    <div class="bottom-menu">
      <a href="#"><i class="ph ph-gear"></i>Configurações</a>
      <a href="#"><i class="ph ph-headset"></i>Ajuda / Suporte</a>
    </div>
  </aside>

  <section id="banner">
    <img src="../imgs/ep1.png" alt="Banner do perfil" />
    <div class="overlay-banner"></div>
    <div class="info-banner">
      <img class="img-info-banner" src="../imgs/theRookieProfile.png" alt="Imagem de perfil" />
      <div class="text-info-banner">
        <span>T01 - E01</span>
        <p>Piloto</p>
      </div>
    </div>
  </section>

  <nav>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="sobre-tab" data-bs-toggle="tab" data-bs-target="#tab-detalhes" type="button"
          role="tab" aria-controls="detalhes-tab-pane" aria-selected="true">
          DETALHES
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="comentarios-tab" data-bs-toggle="tab" data-bs-target="#tab-comentarios"
          type="button" role="tab" aria-controls="tab-comentarios" aria-selected="false">
          COMENTÁRIOS
        </button>
      </li>
    </ul>
  </nav>

  <div class="tab-content">
    <section class="tab-pane fade show active" id="tab-detalhes" role="tabpanel" aria-labelledby="sobre-tab">

      <div class="informacoes">
        <div class="assistido">
          <div class="star-review">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <img class="img-assistido" src="../imgs/done.png" alt="ícone de assistido" />
        </div>

        <h6>Informações do episódio</h6>
        <p>
          Na série The Rookie, John Nolan (Nathan Fillion) está realmente nadando contra a corrente. Enquanto as pessoas da sua idade estão no auge da carreira e já possuem uma rotina definida, Nolan se arrisca na cidade grande com um único objetivo: realizar o sonho de se tornar um policial no Departamento de Polícia de Los Angeles (LAPD). Como o calouro mais velho da turma, ele encara todos os desafios dessa perigosa carreira, afinal, é sua chance de recomeçar a vida e realizar seu desejo. Na série, ele e seus parceiros enfrentam desafios diários e, juntos, somam forças na delegacia.
        </p>

        <h6>Personagens favoritos do público</h6>

        <div class="personagens">
          <div class="personagem">
            <img src="../imgs/nathan-fillion.png" alt="Foto do ator Nathan Fillion" />
            <span class="nomeAtor">John Nolan</span>
            <small class="nomePersonagem">Nathan Fillion</small>
          </div>

          <div class="personagem">
            <img src="../imgs/melissa.png" alt="Foto da atriz Melissa O'Neil" />
            <span class="nomeAtor">Lucy Chen</span>
            <small class="nomePersonagem">Melissa O'Neil</small>
          </div>

          <div class="personagem">
            <img src="../imgs/mekia.png" alt="Foto da atriz Mekia Cox" />
            <span class="nomeAtor">Nylah Harper</span>
            <small class="nomePersonagem">Mekia Cox</small>
          </div>

          <div class="personagem">
            <img src="../imgs/alyssa.png" alt="Foto da atriz Alyssa Diaz" />
            <span class="nomeAtor">Angela Lopez</span>
            <small class="nomePersonagem">Alyssa Diaz</small>
          </div>

          <div class="personagem">
            <img src="../imgs/eric.png" alt="Foto da atriz Alyssa Diaz" />
            <span class="nomeAtor">Eric Winter</span>
            <small class="nomePersonagem">Tim Bradford</small>
          </div>
        </div>
      </div>
      <section class="sectionAvaliacao">

        <h6>Avalie este episódio</h6>

        <div class="avaliacao">

          <div class="nota">
            <span>Qual a nota para este episódio?</span>

            <div class="star-review">
              <i class="bi bi-star-fill avaliacaoPropria"></i>
              <i class="bi bi-star-fill avaliacaoPropria"></i>
              <i class="bi bi-star-fill avaliacaoPropria"></i>
              <i class="bi bi-star-fill avaliacaoPropria"></i>
              <i class="bi bi-star-fill avaliacaoPropria"></i>
            </div>
          </div>

          <span>Como você se sentiu durante o episódio?</span>

          <div class="sentimento">
            <div class="box"><div class="emoji"><i class="fa-solid fa-face-laugh-squint"></i></div><p>Animado</p></div>
            <div class="box"><div class="emoji"><i class="fa-solid fa-face-smile"></i></div><p>Entretido</p></div>
            <div class="box"><div class="emoji"><i class="fa-solid fa-face-sad-tear"></i></div><p>Comovido</p></div>
            <div class="box"><div class="emoji"><i class="fa-solid fa-face-surprise"></i></div><p>Chocado</p></div>
            <div class="box"><div class="emoji"><i class="fa-solid fa-face-sad-cry"></i></div><p>Triste</p></div>
            <div class="box"><div class="emoji"><i class="fa-solid fa-face-meh"></i></div><p>Entediado</p></div>
            <div class="box"><div class="emoji"><i class="fa-solid fa-face-frown"></i></div><p>Frustrado</p></div>
            <div class="box"><div class="emoji"><i class="fa-solid fa-face-grimace"></i></div><p>Tenso</p></div>
          </div>

          <span>Qual foi seu personagem favorito neste episódio?</span>

          <div class="personagens">
            <div class="personagem"><img src="../imgs/nathan-fillion.png"><span class="nomeAtor">John Nolan</span><small>Nathan Fillion</small></div>
            <div class="personagem"><img src="../imgs/melissa.png"><span class="nomeAtor">Lucy Chen</span><small>Melissa O'Neil</small></div>
            <div class="personagem"><img src="../imgs/mekia.png"><span class="nomeAtor">Nylah Harper</span><small>Mekia Cox</small></div>
            <div class="personagem"><img src="../imgs/alyssa.png"><span class="nomeAtor">Angela Lopez</span><small>Alyssa Diaz</small></div>
            <div class="personagem"><img src="../imgs/eric.png"><span class="nomeAtor">Eric Winter</span><small>Tim Bradford</small></div>
          </div>

          <div class="desejaComentar">
            <small>Deseja também comentar sobre o que achou do episódio?</small>
            <button>Comentar</button>
          </div>

        </div>

      </section>

    </section>
    <section class="tab-pane fade" id="tab-comentarios" role="tabpanel">

      <div class="comentar">
        <img src="../imgs/prentiss.png" alt="Foto de perfil" />
        <div class="meuComentario">
          <span>O que você achou desse episódio?</span>

          <div class="acoes">
            <div class="icones">
              <i class="fa-regular fa-image"></i>
              <div class="gif-icon">GIF</div>
            </div>
            <button>Comentar</button>
          </div>
        </div>
      </div>

      <div class="comentario">
        <div class="topo">
          <img src="../imgs/prentiss.png" alt="Foto de perfil" />
          <div class="infoCom">
            <span>Emily Prentiss</span>
            <small>13 de novembro de 2025</small>
          </div>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <p>Série muito boa, assisti tudo em menos de 2 semanas, é raro eu
            maratonar e valeu a pena! Sobre a avaliação, só não é obra prima por
            ser muito previsível. Deveriam mandar os figurantes pararem.</p>
        <img src="../imgs/comentario.png" alt="Foto do episódio" />

        <div class="interacoes">
          <div class="likes"><i class="bi bi-heart"></i><p>1001 likes</p></div>
          <div class="comments"><i class="bi bi-chat-left-text"></i></i><p>100 comentários</p></div>
        </div>
      </div>

      <div class="comentario">
        <div class="topo">
          <img src="../imgs/benson.png" alt="Foto de perfil" />
          <div class="infoCom">
            <span>Olivia Benson</span>
            <small>13 de novembro de 2025</small>
          </div>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <p>Série muito boa, assisti tudo em menos de 2 semanas, é raro eu
            maratonar e valeu a pena! Sobre a avaliação, só não é obra prima por
            ser muito previsível. Deveriam mandar os figurantes pararem.</p>
        <img src="../imgs/comentario.png" alt="Foto do episódio" />

        <div class="interacoes">
          <div class="likes"><i class="bi bi-heart"></i><p>1001 likes</p></div>
          <div class="comments"><i class="bi bi-chat-left-text"></i><p>100 comentários</p></div>
        </div>
      </div>

    </section>

  </div> 

  <section id="aviso-portabilidade">
    <h1>Atenção!</h1>
    <span>Este projeto não tem intenção de ser compatível com dispositivos maiores de 576px!</span>
  </section>

  <script src="../js/sidebar.js"></script>
  <script src="../js/episodio.js"></script>
  <script src="https://unpkg.com/phosphor-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
