<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/perfil.css">
    <title>CineDiary</title>

</head>

<body>
    <header>
        <button class="open-btn" onclick="toggleMenu()">
            <i class="ph ph-list"></i>
        </button>
        <div class="dropstart">
            <a id="more-profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Seguir</a></li>
                <li><a class="dropdown-item" href="#">Compartilhar</a></li>
                <li><a class="dropdown-item" href="#">Sobre a conta</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Denunciar</a></li>
            </ul>
        </div>
    </header>

    <aside id="sidebar" class="sidebar">
        <button class="open-btn" onclick="toggleMenu()">
            <i class="ph ph-list"></i>
        </button>

        <div class="top">
            <div class="logo">
                <span class="cine">CINE</span><span class="diary">DIARY</span>
            </div>

            <nav class="menu">
                <a href="index.html"><i class="bi bi-house"></i>Home</a>
                <a href="reviews.html"><i class="bi bi-star"></i>Reviews</a>
                <a href="#"><i class="bi bi-search"></i>Pesquisar</a>
                <a href="perfil.html"><i class="ph ph-user"></i>Perfil</a>
            </nav>
        </div>

        <div class="bottom-menu">
            <a href="#"><i class="ph ph-gear"></i>Configurações</a>
            <a href="#"><i class="ph ph-headset"></i>Ajuda / Suporte</a>
        </div>

    </aside>

    <main>
        <section id="banner">
            <img src="../imgs/banner-perfil.png" alt="Banner do perfil">
            <div class="overlay-banner"></div>
            <div class="info-banner">
                <img class="img-info-banner" src="../imgs/perfil.jpg" alt="Imagem de perfil">
                <div class="text-info-banner">
                    <span>Jason Maio</span>
                    <p>Amante de filmes de terror, gosto de pãnico, hallowen entre outros...</p>
                </div>
            </div>
        </section>

        <nav>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="sobre-tab" data-bs-toggle="tab" data-bs-target="#tab-sobre-mim"
                        type="button" role="tab" aria-controls="sobre-tab-pane" aria-selected="true">SOBRE MIM</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="estatisticas-tab" data-bs-toggle="tab"
                        data-bs-target="#tab-estatisticas" type="button" role="tab" aria-controls="tab-estatisticas"
                        aria-selected="false">ESTATÍSTICAS</button>
                </li>
            </ul>
        </nav>

        <div class="tab-content" id="tabs-content">
            <section class="tab-pane fade show active" id="tab-sobre-mim" role="tabpanel"
                aria-labelledby="tab-sobre-mim" tabindex="0">
                <div class="tab-container">
                    <section>
                        <h6 class="titulo-secao">Filme favorito</h6>
                        <div class="favorito-container">
                            <a href="serie.html">
                                <img src="../imgs/capa-sexta-feira-13.jpg" alt="Filme favorito">
                            </a>
                            <div class="favorito-info">
                                <h6>Friday 13th</h6>
                                <p>Cinco anos após o massacre no acampamento Crystal Lake, um novo grupo de jovens chega
                                    à região...
                                </p>
                                <div class="favoritos-data">
                                    <span class="badge rounded-pill"><i class="bi bi-person-fill"></i>10,2 mi</span>
                                    <div class="star-review">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="section-destaque">
                        <h6 class="titulo-secao">Filmes em destaque</h6>
                        <div class="d-flex gap-2">
                            <a class="col" href="serie.html">
                                <div class="star-review">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <img src="../imgs/capa-panico.jpg" alt="Capa filme pânico">
                                <h6 class="destaques-titulo-filme">Pânico</h6>
                            </a>
                            <a class="col" href="serie.html">
                                <div class="star-review">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill no-star"></i>
                                </div>
                                <img src="../imgs/capa-hora-do-pesadelo.jpg" alt="Capa filme pânico">
                                <h6 class="destaques-titulo-filme">Hora do pesadelo</h6>
                            </a>
                            <a class="col" href="serie.html">
                                <div class="star-review">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill no-star"></i>
                                </div>
                                <img src="../imgs/capa-hallowen.jpg" alt="Capa filme pânico">
                                <h6 class="destaques-titulo-filme">Hallowen</h6>
                            </a>
                        </div>
                    </section>

                    <section id="section-lista">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="titulo-secao mb-0">Lista de favoritos</h6>
                            <select name="select_filtro" id="select_filtro" class="form-select">
                                <option value="Todos">Todos</option>
                                <option value="Filmes">Filmes</option>
                                <option value="Séries">Séries</option>
                            </select>
                        </div>
                        <ul>
                            <li>
                                <span class="posicao-lista">1</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-sexta-feira-13.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">Friday 13th</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Terror</span>
                                                    <span class="badge rounded-pill">Horror</span>
                                                    <span class="badge rounded-pill">Suspense</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">2</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-panico.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">Pânico</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Terror</span>
                                                    <span class="badge rounded-pill">Suspense</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">3</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-hora-do-pesadelo.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">Hora do pesadelo</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Horror</span>
                                                    <span class="badge rounded-pill">Suspense</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">4</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-hallowen.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">Hallowen</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Terror</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">5</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-invocacao-do-mal.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">Invocação do mal</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Suspense</span>
                                                    <span class="badge rounded-pill">Terror</span>
                                                    <span class="badge rounded-pill">Horror</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">6</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-olhos-famintos.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">Olhos famintos</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Terror</span>
                                                    <span class="badge rounded-pill">Horror</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">7</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-ti-a-coisa.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">IT a coisa</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Terror</span>
                                                    <span class="badge rounded-pill">Suspense</span>
                                                    <span class="badge rounded-pill">Horror</span>
                                                    <span class="badge rounded-pill">Coisa</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">8</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-annabelle.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">Annabele</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Terror</span>
                                                    <span class="badge rounded-pill">Horror</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">9</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-a-freira.jpeg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">A feira 2</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Horror</span>
                                                    <span class="badge rounded-pill">Terror</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span class="posicao-lista">0</span>
                                <div class="list-card">
                                    <img src="../imgs/capa-groundhog-day.jpg" alt="Capa do filme">
                                    <div class="list-card-content">
                                        <div class="upper-content">
                                            <div class="list-card-header">
                                                <h5 class="filme-lista-nome">Groundhog Day</h5>
                                                <hr>
                                                <div class="tags-filme">
                                                    <span class="badge rounded-pill">Comédia</span>
                                                    <span class="badge rounded-pill">Romance</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="list-card-data">
                                                <span><i class="bi bi-person-fill"></i>426.034 usuários</span>
                                                <span><i class="bi bi-calendar"></i>Estreia 25 Jan 2025</span>
                                            </div>
                                            <div class="list-card-review">
                                                <div class="star-review">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                    <i class="bi bi-star-fill no-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </section>

            <section class="tab-pane fade" id="tab-estatisticas" role="tabpanel" aria-labelledby="tab-estatisticas"
                tabindex="0">
                <div class="tab-container">
                    <section id="section-dados">
                        <div class="horas">
                            <div class="horas-filmes">
                                <div class="hora">
                                    <span class="horas-numero">50 mil</span>
                                    <span>Horas de filmes</span>
                                </div>
                                <div class="medidas">
                                    <div class="medida">
                                        <span class="valor">2 mil</span>
                                        <span>Dias</span>
                                    </div>
                                    <div class="medida">
                                        <span class="valor">297</span>
                                        <span>Semanas</span>
                                    </div>
                                    <div class="medida">
                                        <span class="valor">93</span>
                                        <span>Filmes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="horas-series">
                                <div class="hora">
                                    <span class="horas-numero">2 mil</span>
                                    <span>Horas de séries</span>
                                </div>
                                <div class="medidas">
                                    <div class="medida">
                                        <span class="valor">83</span>
                                        <span>Dias</span>
                                    </div>
                                    <div class="medida">
                                        <span class="valor">11</span>
                                        <span>Semanas</span>
                                    </div>
                                    <div class="medida">
                                        <span class="valor">3</span>
                                        <span>Séries</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notas">
                            <div class="notas-filmes">
                                <h6 class="notas-titulo">Filmes</h6>
                                <div class="media">
                                    <div class="star-review">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <span>Sua nota média</span>
                                </div>
                                <div class="media">
                                    <div class="star-review">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <span>Média CineDiary</span>
                                </div>
                            </div>

                            <div class="notas-series">
                                <h6 class="notas-titulo">Séries</h6>
                                <div class="media">
                                    <div class="star-review">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <span>Sua nota média</span>
                                </div>
                                <div class="media">
                                    <div class="star-review">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <span>Média CineDiary</span>
                                </div>
                            </div>

                            <div class="notas-todos">
                                <h6 class="notas-titulo">Todos</h6>
                                <div class="media">
                                    <div class="star-review">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <span>Sua nota média</span>
                                </div>
                                <div class="media">
                                    <div class="star-review">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <span>Média CineDiary</span>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h6 class="titulo-secao">Suas preferências</h6>
                        <div id="preferencias-chart"></div>
                    </section>

                    <section id="section-contribuicoes">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="titulo-secao mb-0">Contribuições pra lista</h6>
                            <select name="select_filtro" id="select_filtro" class="form-select">
                                <option value="Todos">Recente</option>
                                <option value="Filmes">Último ano</option>
                                <option value="Séries">Todas</option>
                            </select>
                        </div>
                        <div id="contribuicoes-chart"></div>
                    </section>
                </div>
            </section>
        </div>
    </main>

    <section id="aviso-portabilidade">
        <h1>Atenção!</h1>
        <span>Este projeto não tem intenção de ser compatível com dispositivos mairores de 576px!</span>
    </section>

    <script src="../js/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../js/apexcharts.js"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>